.demo-layout-transparent {
  background: url('http://pre13.deviantart.net/3531/th/pre/i/2014/098/7/a/sorensen_leather___senegal_dark_grey_30162_by_sorensenleather-d7dlv2y.png') center / cover;
}
.mdl-layout-title{
	color: lime;
}
main div { 
	margin: auto;
  width: 60%;
}

h4{
	color: yellow;
}
h5{
    color: yellow;
}
.buttons{
	position: left;
	padding: 1em; //vertical spacing
	color: purple;
}